@page "/fetchdata"
<h1>Fractal "<a href="https://en.wikipedia.org/wiki/Sierpi%C5%84ski_triangle">Sierpiński triangle</a>" point list</h1>

<p>This component demonstrates fetching data from the server.</p>
<b style="color:darkred;">Attention! This application is not optimized to work with a large number of points.</b>
<hr />
Point count:
<input @bind-value="@pointCount" />
Width:
<input @bind-value="@width" />
Heigth:
<input @bind-value="@height" />
<button @onclick="GetNewPointList">Get new point list</button>
<br />
<br />
<BECanvas Width="@width" Height="@height" @ref="_canvasReference"></BECanvas>

